<main class="layoutPage">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-lg-4 layoutPage_verticalLine">
        <div class="d-flex align-items-center cursor_pointer" onclick="change_consumer_action('info');">
          <svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="21" height="29" viewBox="0 0 21 29" fill="none">
            <path d="M19.3486 20.1883C18.8169 18.6998 17.6451 17.3846 16.0151 16.4465C14.3851 15.5085 12.3879 15 10.3333 15C8.27875 15 6.28158 15.5085 4.65156 16.4465C3.02155 17.3846 1.84979 18.6998 1.31803 20.1883" stroke="#222222" stroke-width="1.8" stroke-linecap="round"/>
            <circle cx="10.3327" cy="5.66667" r="4.66667" stroke="#222222" stroke-width="1.8" stroke-linecap="round"/>
          </svg>
          <div>
            <div class="layoutPage_text layoutPage_text__medium">
              <%= @consumer.full_name %>
            </div>
            <div class="layoutPage_text layoutPage_text__small__extra">
              <%= @consumer.email %>
            </div>
            <div class="layoutPage_text layoutPage_text__small__extra">
              Баланс: <span id="consumer_balance"><%= @consumer.balance %></span>
            </div>
          </div>
        </div>
        <div class="layout_line layout_line__full mb_child"></div>
        <div class="d-none d-md-block">
          <button class="btn btn__icon btn__icon_hover d-block w-100 text-start" type="button" onclick="change_consumer_action('tariff');">Мій
            тариф
          </button>
          <button class="btn btn__icon btn__icon_hover d-block w-100 text-start" type="button" onclick="change_consumer_action('payment');">Поповнити
            баланс
          </button>
          <button class="btn btn__icon btn__icon_hover d-block w-100 text-start" type="button" onclick="change_consumer_action('complaints');">Мої
            скарги
          </button>
          <button class="btn btn__icon btn__icon_hover d-block w-100 text-start" type="button" onclick="change_consumer_action('complaint_filling');">Подати
            скаргу
          </button>
          <%= link_to "Вихід", destroy_consumer_session_path, method: :delete, class: "btn btn__icon btn__icon_hover d-block text-start" %>
        </div>
      </div>
      <!--  -->
      <div class="col-12 col-md-7 col-lg-8">
        <div id="consumer_info">
          <h1 class="h2 mb_parrent">
            Особиста інформація
          </h1>

          <div class="row align-items-center">
            <div class="col-12 col-lg-9">
              <div class="row">
                <div class="col-12 col-md-6 mb_child">
                  <p class="fw-medium">Повне ім'я</p>
                  <p><%= @consumer.full_name %></p>
                </div>
                <div class="col-12 col-md-6 mb_child">
                  <p class="fw-medium">Електронна адреса</p>
                  <p><%= @consumer.email %></p>
                </div>
                <div class="col-12 col-md-6 mb_child">
                  <p class="fw-medium">Номер телефону</p>
                  <p><%= @consumer.phone %></p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <p class="layoutPage_link text-end" onclick="change_consumer_action('edit');">Редагувати</p>
            </div>
          </div>
          <div class="layout_line layout_line__full mb_child"></div>

          <div class="row align-items-center">
            <div class="col-12 col-md-9">
              <p class="fw-medium">Моя адреса</p>
              <p>
                <% if @consumer.address.present? %>
                  <%= @consumer.address %>
                <% else %>
                  Адреса не вказана
                <% end %>
              </p>
            </div>
          </div>
        </div>
        <!--  -->
        <div id="consumer_edit" hidden>
          <h2 class="mb_parrent">
            Особиста інформація
          </h2>
          <div>
            <%= simple_form_for @consumer, url: registration_path(@consumer), html: { method: :put } do |f| %>
              <%= f.error_notification %>
              <div class="row align-items-center">
                <div class="col-12 col-lg-9">
                  <div class="row align-items-center">
                    <div class="col-12 col-md-6 mb_child">
                      <%= f.input :username, input_html: { class: "inputForm" }, label: "Ім'я користувача", label_html: { class: 'mb_child__small' }, placeholder: "Введіть ім'я користувача" %>
                    </div>
                    <div class="col-12 col-md-6 mb_child">
                      <%= f.input :full_name, input_html: { class: "inputForm" }, label: "Ім’я", label_html: { class: 'mb_child__small' }, placeholder: "Введіть Ваше ім'я" %>
                    </div>
                    <div class="col-12 col-md-6 mb_child">
                      <%= f.input :email, input_html: { class: "inputForm" }, label: "Електронна адреса *", label_html: { class: 'mb_child__small' }, placeholder: "Введіть Вашу електронну скриньку", required: true, autofocus: true %>
                    </div>
                    <div class="col-12 col-md-6 mb_child">
                      <%= f.input :phone, input_html: { class: "inputForm" }, label: "Номер телефону", label_html: { class: 'mb_child__small' }, placeholder: "Введіть Ваш номер телефону" %>
                    </div>
                  </div>
                </div>
                <div class="col-12 mb_child__small">
                  <div class="layout_line layout_line__full mb_child"></div>
                  Залиште ці поля порожніми, якщо ви не хочете змінювати пароль
                </div>
                <div class="col-12 col-md-6">
                  <%= f.input :password,
                              required: false,
                              input_html: { class: "inputForm", autocomplete: "new-password" },
                              label: "Новий пароль",
                              label_html: { class: 'mb_child__small' },
                              placeholder: "Введіть новий пароль" %>
                </div>
                <div class="col-12 col-md-6">
                  <%= f.input :password_confirmation,
                              required: false,
                              input_html: { class: "inputForm", autocomplete: "new-password" },
                              label: "Підтвердження нового паролю",
                              label_html: { class: 'mb_child__small' },
                              placeholder: "Введіть повторно новий пароль" %>
                </div>
                <div class="col-12">
                  <div class="layout_line layout_line__full mb_child"></div>
                </div>
                <div class="col-12 col-md-6 mb_child__small">
                  <%= f.input :current_password,
                              required: true,
                              input_html: { class: "inputForm", autocomplete: "current-password" },
                              label: "Поточний паороль *",
                              label_html: { class: 'mb_child__small' },
                              placeholder: "Введіть поточний пароль" %>
                </div>
                <div class="col-12 col-md-6">
                  <p class="layoutPage_text layoutPage_text__accent">Нам потрібен ваш поточний пароль, щоб підтвердити
                    ваші зміни</p>
                </div>
                <div class="col-12 mt_parrent">
                  <%= f.button :submit, "Зберегти", class: "btn btn_fill btn__fill_green" %>
                </div>
              </div>
              <!--  -->
              <div class="form-actions">

              </div>
            <% end %>
          </div>
        </div>
        <!--  -->
        <div id="consumer_tariff" hidden>
          <h1 class="mb_parrent">
            Інформація про тариф
          </h1>

          <div class="row align-items-center">
            <div class="col-12 col-lg-9">
              <div class="row">
                <div class="col-12 col-md-6 mb_child">
                  <p class="fw-medium">Назва тарифу</p>
                  <p><%= @tariff.name %></p>
                </div>
                <div class="col-12 col-md-6 mb_child">
                  <p class="fw-medium">Залишилось днів </p>
                  <p id="consumer_remaining_days"><%= @remaining_days %></p>
                </div>
                <div class="col-12 col-md-6 mb_child">
                  <p class="fw-medium">Ціна тарифу (місяць)</p>
                  <p><%= @tariff.price %></p>
                </div>
                <div class="col-12 col-md-6 mb_child">
                  <p class="fw-medium">Ціна тарифу (день) </p>
                  <p><%= @tariff_price_per_day %></p>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-3">
              <p class="layoutPage_link text-end" onclick="change_consumer_action('change_tariff');">Змінити</p>
            </div>
          </div>

        </div>

        <div id="consumer_change_tariff" hidden>
          <h1 class="mb_parrent">
            Зміна тарифу
          </h1>
          <% if @change_tariff_request.new_record? %>
            <%= simple_form_for @change_tariff_request, remote: true do |f| %>
              <%= f.error_notification %>
              <div class="row align-items-center">
                <div class="col-12 col-lg-9">
                  <div class="row align-items-center">
                    <%= f.input :consumer_id, as: :hidden, input_html: { value: @consumer.id } %>
                    <div class="col-12 col-md-6 mb_child">
                      <%= f.input :tariff_id, as: :select, collection: Tariff.all.map { |u| ["#{u.name}", u.id] if u.id != @consumer.tariff.id }.compact, input_html: { class: "inputForm" }, label: "Виберіть тариф", label_html: { class: 'mb_child__small' } %>
                    </div>
                  </div>
                </div>
                <div class="col-12 mt_parrent">
                  <%= f.button :submit, "Створити заявку", class: "btn btn_fill btn__fill_green" %>
                </div>
              </div>
              <!--  -->
              <div class="form-actions">
              </div>
            <% end %>
          <% else %>
            <div class="row align-items-center">
              <div class="col-12 col-lg-9">
                <p class="layoutPage_text">Ви вже подали заявку на зміну тарифу, будь ласка зачекайте, коли Ваша заявка буде опрацьована.
                  Зміна тарифу відбувається в кінці кожного місяця.</p>
              </div>
            </div>
          <% end %>
        </div>

        <div id="consumer_complaints" hidden>
          <h1 class="mb_parrent">
            Скарги
          </h1>
          <div class="row">
            <div class="col-12 col-lg-9">
              <%= render ComplaintComponent.with_collection(@complaints) %>
            </div>
          </div>
         
        </div>
        <div id="consumer_complaint_filling" hidden>
          <h1 class="mb_parrent">
            Подача скарги
          </h1>

          <%= simple_form_for :complaint, url: complaints_path do |f| %>
            <%= f.error_notification %>
            <div class="row align-items-center">
              <div class="col-12 col-lg-9">
                <div class="align-items-center">
                  <div class="form-floating mb-3">
                    <%= f.input :consumer_id, as: :hidden, input_html: { value: @consumer.id}, class: "form-control", required: true%>
                  </div>
                  <div class="form-floating mb-3">
                    <%= f.input :user_name, input_html: { value: @consumer.full_name, class: "inputForm"  }, class: "form-control", label: "ПІБ", label_html: { class: 'mb_child__small' }, required: true %>
                  </div>
                  <div class="form-floating mb-3">
                    <%= f.input :phone, input_html: { value: @consumer.phone, class: "inputForm"  }, class: "form-control", label: "Телефон", label_html: { class: 'mb_child__small' }, required: true %>
                  </div>
                  <div class="form-floating mb-3">
                    <%= f.input :address, input_html: { value: @consumer.address, class: "inputForm"  }, label: "Адреса", class: "form-control", label_html: { class: 'mb_child__small' }, required: true %>
                  </div>
                  <div class="form-floating mb-3">
                    <%= f.input :text, as: :text, class: "form-control", input_html: { class: "inputForm" }, label: "Повідомлення",  label_html: { class: 'mb_child__small' }, required: true %>
                  </div>
                </div>
              </div>
              <div class="col-12 mt_parrent">
                <%= f.button :submit, "Зберегти", class: "btn btn_fill btn__fill_green" %>
              </div>
            </div>
            <!--  -->
            <div class="form-actions">

            </div>
          <% end %>

        </div>
        <div id="consumer_payment" hidden>
          <h1 class="mb_parrent">
            Поповнення рахунку
          </h1>
          <%= simple_form_for :refill, url: consumer_refill_url(@consumer), remote: true do |f| %>
            <div class="row align-items-center">
              <div class="col-12 col-lg-9">
                <div class="mb_child">
                  <%= f.input :amount, label: "Сума", input_html: { class: "inputForm" }, label_html: { class: 'mb_child__small' } %>
                </div>
                <div class="mb_child">
                  <p><%= f.submit "Поповнити", class: "btn btn_fill btn__fill_green" %></p>
                </div>
              </div>
            </div>
          <% end %>

        </div>
        <div id="consumer_liqpay_checkout" hidden>
        </div>
      </div>
      <!--  -->
    </div>
    <div class="d-md-none">
      <div class="layout_line layout_line__full mb_child"></div>
      <button class="btn btn__icon btn__icon_hover d-block w-100 text-start" type="button" onclick="change_consumer_action('tariff');">Мої
        замовлення
      </button>
      <%= link_to "Вихід", destroy_consumer_session_path, method: :delete, class: "btn btn__icon btn__icon_hover d-block text-start" %>
    </div>
    <!--  -->
  </div>
</main>

<div class="modal fade" id="complaintModal" tabindex="-1" aria-labelledby="complaintModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        
      </div>
    </div>
  </div>
</div>