<div class="d-flex align-items-center justify-content-center full_height">
  <div class="transparent_block">
    <div class="transparent_block__content">
      <h1 class="mb-3">Скарга  <span class="info">№<%=@complaint.id%> (статус <%=@complaint.state%>)</span></h1>
      <p>номер абонента: <span class="info"><%=@complaint.consumer&.id%></span></p>
      <p>телефон: <span class="info"><%=@complaint.phone%></span></p>
      <p>адреса: <span class="info"><%=@complaint.address%></span> </p>
      <p>відповідальний: <span class="info"><%=@complaint.employee.name unless @complaint.employee.nil?%></span></p>
      <p>Зміст проблеми: <span class="info"><%=@complaint.text%></span></p>
      <hr>
      <div class="">
        <%=render @solveds%>
      </div>
    </div>
  </div>
</div>