<main class="layoutPage layoutPage__full bg_dark">
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>

  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>

  <div class="triangle"></div>
  <div class="triangle"></div>
  <div class="triangle"></div>
  <div class="triangle"></div>
  <div class="triangle"></div>
  <div class="box">
    <h2 class="text-center mb_child">Введіть новий пароль</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "consumers/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field mb_child">
        <%= f.label :password, "New password", class: 'mb_child__small' %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "inputForm inputForm__special" %>
      </div>

      <div class="field mb_child">
        <%= f.label :password_confirmation, "Confirm new password", class: 'mb_child__small' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "inputForm inputForm__special" %>
      </div>

      <div class="actions mb_child text-center ">
        <%= f.submit "Змінити пароль", class: "btn btn_fill btn__fill_green" %>
      </div>
    <% end %>

    <%= render "consumers/shared/links" %>
  </div>
</main>